main {
    background: var(--grad_celeste_blanco);
    padding: 0;
    margin: 0;
}
.inicio_contenedor {
    width: 100%;
    padding: 0;
    margin: 0;
}
.fotos_contenedor {
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /*grid-template-rows: repeat(3, minmax(1fr, 270px));*/
    /*position: relative;*/
    /*overflow: hidden;*/
}
.img_slider {
    display: none;
}
.w3-display-bottomleft {
    color: var(--sombra_verde);
    font-weight: bold;
    background: rgba(204, 249, 255, 0.5);
    text-shadow: 0px -1px 1px var(--primario_verde);
}
.chevrons_izq_der {
    color: var(--sombra_verde);
    background: rgba(121, 181, 189, 0.5);
    text-shadow: 0.8px 0.8px 1px #193038;
    position: absolute;
}
article {
    position: relative;
}
article h2 {
    font-weight: bold;
    text-shadow: 0px 1px 1px var(--sombra_lila);
}
/*.w3-image {*/
    /*height: inherit;*/
    /*object-fit: cover;*/
    /*object-position: center top;*/
/*}*/

/*barra de navegación*/

main nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: var(--grad_celeste_blanco);
    opacity: 0.7;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: transform 600ms ease-in-out;
}
.nav_menu {
    position: fixed;
    width: 100%;
    height: 100%;
}
.lista_nav_menu a {
    display: block;
    color: var(--sombra_verde);
    text-shadow: 1px 1px 1px var(--sombra_primaria);
    font-size: 1.6em;
    padding: 0.5em;
    opacity: 0; 
    width: 100%;
    transition: opacity 10ms ease-in-out;
}
.lista_nav_menu a:hover {
    color: var(--sombra_lila);
    text-shadow: 1px 1px 1px var(--sombra_secundaria);
}
.nav_activador {
    display: none;
}
.etiqueta_nav_activador {
    position: fixed;
    bottom: 2.5%;
    right: 7%;
    height: 10%;
    display: flex;
    flex: 1;
    align-items: center;
    z-index: 2;
}
.nav_activador:checked ~ nav {
    transform: scale(1,1);
}
.nav_activador:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/*form*/
svg {
    fill: #b3b3b3;
	height: 2rem;
	width: 2rem;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[class="agradable"]:hover + svg,
input[class="agradable"]:checked + svg,
input[class="agradable"]:focus + svg {
	fill: rgb(0, 204, 79);
}

input[class="poco"]:hover + svg,
input[class="poco"]:checked + svg,
input[class="poco"]:focus + svg {
	fill: rgb(229, 132, 0);
}

input[class="mucho"]:hover + svg,
input[class="mucho"]:checked + svg,
input[class="mucho"]:focus + svg {
	fill: rgb(239, 42, 16);
}
.form_contenedor h2, h3 {
    color: #947aeb;
    text-shadow: none;
}
.form_contenedor {
    display: flex;
    flex: 1;
    justify-content: center;
}
.formulario {
    padding: 2em;
    background: var(--grad_blanco_lila);
    z-index: 3;
}
/*#enviar {*/
    /*position: absolute;*/
/*}*/
input[type="submit"] {
    position: absolute;
    opacity: 0;
}
input[type="submit"] + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.boton_enviar_form {
    /*background: var(--sombra_lila);*/
    background-color: #947aeb;
    font-size: 1.5em;
    width: fit-content;
    padding: 0.8em;
    margin: 1.5em;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-items: space-between;
    justify-self: flex-end;
}
i {
    padding-left: 0.5em;
}
label>input:hover {
    cursor: pointer;
}
