@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('header.css');
@import url('main.css');
:root {
    --grad_azul_celeste: linear-gradient(to bottom, #33bbff, #67cdfc, #93defa, #beeefa, #e7fcff);
    --grad_blanco_celeste: linear-gradient(to top, #e7fcff, #effcff, #f6fcff, #fcfdff, #ffffff);
    --grad_celeste_blanco: linear-gradient(to bottom, #e7fcff, #effcff, #f6fcff, #fcfdff, #ffffff);;
    --grad_blanco_lila: linear-gradient(to bottom, #ffffff, #f6f3ff, #eee6ff, #e8d9ff, #e3ccff);
    --primario_celeste: #E7FCFF;
    --primario_verde: #79B5BD;
    --primario_lila: #D0C4F6;
    --sombra_verde: #3B7178;
    --sombra_lila: #5F37E1;
}
* {
    font-family: 'Spartan', sans-serif;
}
/*html {*/
    /*height: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
